.modal::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 85px 0px 0px 0px;
  }
  
.modal-container {
    position: relative;
    background: white;
    display: grid;
    align-items: end;
    grid-gap: 50px;
    padding: 50px 50px 50px 0;
    max-height: 80vh;
    overflow-y: auto;
}
 
.modal-container select {
    padding: 18px;
    border: solid 2px rgba(202, 202, 202, 0.979);
    background: white;
    border-radius: 6px;
    font-size: 1.1em;
    color: var(--black-text);
}

.modal-container select option{
    padding: 18px;
}

.modal-dados {
    grid-column: 2;
    max-width: 600px;
}

.close-modal {
    position: absolute;
    border: none;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.modal-dados p {
    margin: 5px;
}

.modal-dados span {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 8px;
}

.select-city {
    display: grid;
}

.select-scholarship {
    display: grid;
}

.select-modality {
    display: grid;
}

.select-modality .modality {
    display: flex;
    margin-bottom: 30px;
}

.select-modality .presencial-modality {
    margin-right: 25px;
}

.slider {
    width: 100%;
    background: var(--blue-primary);
    -webkit-appearance: none;
    outline: none;
    background: var(--blue-primary);
    height: 3px;
    border-radius: 15px;
    margin: 25px 0px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    border: solid 2px var(--blue-primary);
    cursor: pointer;
}

.filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.scholarships-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.scholarships-list input {
    margin: 0 20px;
}

.scholarships-list .scholarships-content {
    padding: 5px 30px;
    width: 240px;

}

.scholarships-list .scholarships-content h3 {
   margin: 0;
   font-size: 1em;
   padding: 10px 0px;
   color: var(--blue-secondary);
   font-weight: bold;
}
.scholarships-list .scholarships-content h4 {
    display: flex;
    color: rgb(2, 83, 2);
    font-weight: 900;
    font-size: 1.15em;
    margin: 10px 0;
}

.scholarships-list .scholarships-content h4:nth-last-child(2){
    margin-top: 25px;
}

.scholarships-list .scholarships-content span {
    font-weight: 500;
}

.scholarships-list .scholarships-content p {
    margin: 0;
    color: black;
    font-weight: 200;
    margin-right: 5px;
}