.menu {
    background-color: var(--blue-primary);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.menu-elements {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* quebra a linha assim assim que os itens não puderem ser mais compactados*/
    color: white;
    padding: 0px 20px 0px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 1.5em;
}

.menu-elements a {
    text-decoration: none;
    color: inherit;
    display: flex;
}

.menu-elements a img {
    width: 0.7em;
    margin-left: 12px;
}