.semester-list {
    margin: 60px auto;
    border-radius: 8px;
    height: 210px;
    width: 480px;
    color: var(--blue-secondary);
    font-weight: 900;
    font-size: 1.2em;
}

.semester-list__items {
    padding-inline-start: 0px;
}

.semester-list__item {
    padding: 20px;
    list-style: none;
    text-align: center;
    border: var(--blue-secondary) 2px solid;
    transition: 0.4s;
}

.semester-list__item:hover{
    background-color: var(--blue-secondary);
    color: white;
    cursor: pointer;
}
.semester-list__item.selected {
    background-color: var(--blue-secondary);
    color: white;
}

.semester-list__item:nth-child(1) {
    border-radius: 8px 8px 0px 0px;
}

.semester-list__item:nth-child(3) {
    border-radius: 0px 0px 8px 8px;
}

.semester-list__item__text {
    text-decoration: none;
    color: inherit;
}

@media (min-width: 1125px) {
   .semester-list {
        margin: 50px 0px -80px 0px;
        width: 80vw;
    }

    .semester-list__items {
        display: flex;
        justify-content: flex-end;
    }

    .semester-list__item:nth-child(1) {
        border-radius: 6px 0px 0px 6px;
    }
    
    .semester-list__item:nth-child(3) {
        border-radius: 0px 6px 6px 0px;
    }

    .semester-list__item {
        padding: 6px 26px;
        font-size: 0.9em;
    }
}
