.home {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 20px 0px 20px;
    color: var(--black-text);
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 30px auto;
}

.my-account {
    margin-bottom: 20px;
}

.my-account a {
    display: flex;
    color: inherit;
    text-decoration: none;
    color: var(--blue-secondary);
    font-weight: 900;
    font-size: 1.1em;
}

.my-account img {
    width: 0.7em;
    margin-right: 15px;
}

.home-elements h1 {
    font-size: 2.2em;
}

.home-elements p {
    font-size: 1.3em;
    line-height: 1.45em;
    color: #444d4f;
    margin-top: 25px;
}


.semester-list {
    margin: 60px auto;
    border-radius: 8px;
    height: 210px;
    width: 480px;
    color: var(--blue-secondary);
    font-weight: 900;
    font-size: 1.2em;
}

.semester-list ul {
    padding-inline-start: 0px;
}

.semester-list ul li {
    padding: 20px;
    list-style: none;
    text-align: center;
    border: var(--blue-secondary) 2px solid;
}

.semester-list ul li:hover{
    background-color: var(--blue-secondary);
    color: white;
    cursor: pointer;
}

.semester-list ul li:nth-child(1) {
    border-radius: 8px 8px 0px 0px;
}

.semester-list ul li:nth-child(3) {
    border-radius: 0px 0px 8px 8px;
}

.semester-list ul li a {
    text-decoration: none;
    color: inherit;
}

.add-courses:hover {
    background-color:rgba(0, 0, 0, .15);
    cursor: pointer;
}

.add-courses {
    text-align: center;
    height: 250px;
    width: 480px;
    margin: 0 auto;
    padding: 25px 0px 25px 0px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.add-courses img {
    width: 70px;
    margin-top: 25px;
}

.add-courses p {
    font-size: 1.1em;
    max-width: 260px;
    margin: 8px auto;
}

@media (max-width: 700px) {
    .semester-list {
        max-width: 80vw;
    }

    .add-courses {
        max-width: 80vw;
    }
}

/* MODAL */

.modal::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 200px 0px 0px 0px;
  }
  
.modal-container {
    position: relative;
    background: white;
    z-index: 1;
    display: grid;
    align-items: end;
    grid-gap: 50px;
    padding: 50px 50px 50px 0;
}
  
.modal-dados {
    grid-column: 2;
    max-width: 600px;
}

.close-modal {
    position: absolute;
    border: none;
    color: white;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    top: -30px;
    right: -4px;
    cursor: pointer;
}

.modal-dados p {
    margin: 5px;
}

.modal-dados span {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 8px;
}

/* .modal-dados input {
    margin-top: 15px;
} */

.select-city {
    display: grid;
}

.select-scholarship {
    display: grid;
}

.select-modality {
    display: grid;
}

.select-modality .modality {
    display: flex;
    margin-bottom: 30px;
}

.select-modality .presencial-modality {
    margin-right: 25px;
}

.select-max-payment {
}