.home {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 20px 0px 20px;
    color: var(--black-text);
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 30px auto;
}

.home__my-account {
    margin-bottom: 20px;
}

.home__my-account__a {
    display: flex;
    color: inherit;
    text-decoration: none;
    color: var(--blue-secondary);
    font-weight: 900;
    font-size: 1.1em;
}

.home__my-account__image {
    width: 0.7em;
    margin-right: 15px;
}

.home__elements__title {
    font-size: 2.2em;
}

.home__elements__text {
    font-size: 1.3em;
    line-height: 1.45em;
    color: #444d4f;
    margin-top: 25px;
}